.container{
    text-align: center;
}

#game{
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid #000;
    display: inline-block;
}

#game div{
    position: absolute;
    width: 48px;
    height: 48px;
    text-align: center;
    line-height: 50px;
    transition: top 0.2s, left 0.2s;
    -moz-transition: top 0.2s, left 0.2s;
    -o-transition: top 0.2s, left 0.2s;
    -webkit-transition: top 0.2s, left 0.2s;
    border: 1px solid #000;
    z-index: 2;
}

#game .delete{
    z-index: 1;
}

.x0-y0{
    top: 0; left: 0;
}
.x1-y0{
    top: 0; left: 50px;
}
.x2-y0{
    top: 0; left: 100px;
}
.x3-y0{
    top: 0; left: 150px;
}

.x0-y1{
    top: 50px; left: 0;
}
.x1-y1{
    top: 50px; left: 50px;
}
.x2-y1{
    top: 50px; left: 100px;
}
.x3-y1{
    top: 50px; left: 150px;
}

.x0-y2{
    top: 100px; left: 0;
}
.x1-y2{
    top: 100px; left: 50px;
}
.x2-y2{
    top: 100px; left: 100px;
}
.x3-y2{
    top: 100px; left: 150px;
}

.x0-y3{
    top: 150px; left: 0;
}
.x1-y3{
    top: 150px; left: 50px;
}
.x2-y3{
    top: 150px; left: 100px;
}
.x3-y3{
    top: 150px; left: 150px;
}

.val2{
    background: #f2f2f2;
}
.val4{
    background: #EFECD0;
}
.val8{
    background: #EAE29B;
}
.val16{
    background: #E6DB74;
}
.val32{
    background: #EDC85C;
}
.val64{
    background: #F6AD3A;
}
.val128{
    background: #FD971F;
}
.val256{
    background: #FB791D;
}
.val512{
    background: #FA5E1B;
}
.val1024{
    background: #F83F18;
}
.val2048{
    background: #F72516;
}

